body
{
	margin:0;
	padding:0;
	background-color: #c0c0c0;
	height:100%;
}

div#main
{
	display:block;
	width:100%;
	height:100%;
	margin:auto;
}

canvas
{
	position: absolute;
	/*border:1px solid black;*/
}

canvas#map_layer
{
	z-index: 0;
}

canvas#ressource_layer
{
	z-index: 1;
}

canvas#preprocessing_layer
{
	display:none;
	/*border:1px solid black;*/
}